/**
 * Variables.
 */

@font-face {
  font-family:Sarala;
  src:url('./fonts/Sarala-Regular.ttf');
}

@font-face {
  font-family:Sarala;
  src:url('./fonts/Sarala-Bold.ttf');
  font-weight:bold;
}

@font-face {
  font-family:DMMono;
  src:url('./fonts/DMMono-Regular.ttf');
}

@font-face {
  font-family:DMMono;
  src:url('./fonts/DMMono-Italic.ttf');
  font-style:italic;
}

:root {
  --font-normal:Sarala, Helvetica, Arial, sans-serif;
  --font-monospace:DMMono, 'Courier New', monospace;

  --text:#222222;
  --text-2:#333333;
  --bg:#eeeeee;
  --bg-2:#cccccc;
}

@media (prefers-color-scheme:dark) {
  :root {
    --text:#eeeeee;
    --text-2:#cccccc;
    --bg:#222222;
    --bg-2:#333333;
  }
}

/**
 * CSS Reset.
 */

* {
  box-sizing:border-box;

  padding:0px;
  margin:0px;
}

li {
  margin-left:16px;
}

table {
  border-collapse:collapse;
}

a {
  text-decoration:none;
}

/**
 * General
 */

body {
  margin:32px auto;
  padding:16px;
  color:var(--text);
  font:14pt var(--font-normal);
  background-color:var(--bg);

  max-width:800px;
}

code {
  font:14pt var(--font-monospace);
}

dt {
  font-weight:bold;
}

dd {
  margin-left:8px;
}

dd::before {
  content:'» ';
}

section {
  display:grid;

  margin:4px 0px;
  padding:4px 0px;

  grid-template-areas:
    "left"
    "right";
  grid-template-rows:
    min-content
    min-content;
  grid-template-columns:
    1fr;
}

@media (min-width:700px) {
  section {
    grid-template-areas:
      "left right";
    grid-template-rows:
      1fr;
    grid-template-columns:
      1fr 1fr;
  }
}

section > * {
  margin:4px 0px;

  grid-area:right;
}

section > *:first-child {
  grid-area:left;
}

h1, h2, h4 {
  font-weight:normal;
}

h1 {
  font-size:40px;
}

h2 {
  border-bottom:2px solid var(--text-2);
}

section#header {
  text-align:center;
}

@media (min-width:700px) {
  section#header > * {
    text-align:right;
    align-self:end;
  }

  section#header > *:first-child {
    text-align:left;
  }
}

section#header h1, section#header h4 {
  font-variant:small-caps;
}

section.experience > *:first-child,
section#education > *:first-child {
  font-variant:small-caps;
  font-size:12pt;
}

section.experience > *:first-child h3,
section#education > *:first-child h3 {
  font-variant:none;
}


section.experience + section.experience {
  border-top:2px dashed var(--text-2);
}
