/* CSS Reset --------------------------------------------------------------- */

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-weight:normal;
  animation:fadein 0.7s;
  print-color-adjust:exact;
}

/* Fonts ------------------------------------------------------------------- */

@font-face {
  font-family:Raleway;
  font-style:normal;
  font-weight:450;
  src:url('./fonts/Raleway-VariableFont_wght.ttf');
  font-display:swap;
}

@font-face {
  font-family:Raleway;
  font-style:italic;
  font-weight:450;
  src:url('./fonts/Raleway-Italic-VariableFont_wght.ttf');
  font-display:swap;
}

/* Animations -------------------------------------------------------------- */

@keyframes fadein {
  from {opacity:0;}
  to   {opacity:1;}
}

/* Variables --------------------------------------------------------------- */

:root {
  --cw-font-family:Raleway, sans-serif;

  --cw-rule-width:0.1rem;

  --cw-text:light-dark(#333, #ddf);
  --cw-bg:light-dark(#fff, #223);
  --cw-highlight:light-dark(#999, #557);
  --cw-link:light-dark(#44c, #89f);
}

/* Page setup -------------------------------------------------------------- */

html {
  font:11pt var(--cw-font-family);
  line-height:1.45;
  color:var(--cw-text);
  background:var(--cw-bg);
  hyphens:auto;
}

@media print {
  .noprint {
    display:none;
  }
}

/* Print settings */
@page {
  margin:0;
  size:8.5in 11in;
}

/* Layout ------------------------------------------------------------------ */

main, aside {
  position:relative;
  width:8.5in;
  height:11in;
  overflow:hidden;
  margin-inline:auto;
  padding:3rem 8rem 8rem 6rem;
  @media screen {
    height:fit-content;
    margin-block:0;
    padding-block:2rem;
    border-bottom:var(--cw-rule-width) dotted var(--cw-highlight);
    @media (width < 8.5in) {
      margin:0;
      padding:1rem;
      width:fit-content;
    }
  }
}


footer {
  text-align:center;
  font-variant:small-caps;
  position:absolute;
  bottom:3rem;
  left:50%;
  transform:translateX(-50%);
  @media screen {
    display:none;
  }
}

/* Element styling --------------------------------------------------------- */

h1 {
  line-height:1;
}

h1, h2 {
  font-variant:small-caps;
  letter-spacing:0.05em;
}

h2, h3 {
  margin-top:0.5rem;
}

h2 + h3 {
  margin-top:0;
}

h2 {
  font-size:1rem;
}

h3 {
  font-size:1.2rem;
}

p, li, hr, dl {
  margin-block:0.5rem;
}

header {
  text-align:center;
  background:var(--cw-highlight);
  padding:1rem;
  margin-bottom:1rem;
}

div.header-text {
  background:var(--cw-bg);
  padding-block:1rem;
  border:var(--cw-rule-width) solid var(--cw-text);
}

ul.contact-info {
  margin:0;
}

ul.contact-info li {
  display:inline;
  margin-inline:1rem;
  white-space:nowrap;
  @media screen and (width < 8.5in) {
    display:block;
  }
}

a {
  color:var(--cw-text);
  text-decoration:none;
}

a:hover {
  color:var(--cw-link);
}

section + section {
  border-top:var(--cw-rule-width) solid var(--cw-highlight);
  margin-top:1rem;
}

section section {
  border:none;
}

p, #experience li {
  text-align:justify;
}

ul, ol {
  margin-left:2ch;
}

li::marker {
  color:var(--cw-highlight);
}

div.meta {
  font-style:italic;
}

dt {
  display:inline;
  font-style:italic;
}

dt:not(:first-child)::before {
  /* "Half-block" has newline before but not after */
  content:'\A';
  white-space:pre;
}

dt::after {
  content:': ';
}

dd {
  display:inline;
}

dd::after {
  content:',';
}

dd:has(+ dt)::after, dd:last-child::after {
  content:'';
}

hr {
  background:var(--cw-highlight);
  color:var(--cw-highlight);
  height:var(--cw-rule-width);
  border:none;
  max-width:5rem;
  margin-inline:auto;
}

table {
  display:grid;
  grid-auto-flow:row;
  grid-auto-rows:min-content;
}

tr {
  display:grid;
  grid-auto-flow:column;
  column-gap:3rem;
  grid-auto-columns:auto;
  @media screen and (width < 8.5in) {
    grid-auto-flow:row;
    grid-auto-rows:min-content;
  }
}

td {
  width:fit-content;
}
