/* CSS Reset --------------------------------------------------------------- */

* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-weight:normal;
  animation:fadein 0.7s;
}

/* Fonts ------------------------------------------------------------------- */

@font-face {
  font-family:Raleway;
  font-style:normal;
  font-weight:450;
  src:url('./fonts/Raleway-VariableFont_wght.ttf');
  font-display:swap;
}

@font-face {
  font-family:Raleway;
  font-style:italic;
  font-weight:450;
  src:url('./fonts/Raleway-Italic-VariableFont_wght.ttf');
  font-display:swap;
}

/* Animations -------------------------------------------------------------- */

@keyframes fadein {
  from {opacity:0;}
  to   {opacity:1;}
}

/* Variables --------------------------------------------------------------- */

:root {
  --cw-font-family:Raleway, sans-serif;

  --cw-text:#000;
  --cw-bg:#fff;
  --cw-head:#999;
  --cw-meta:#777;
  --cw-link:#44c;
}

@media screen and (prefers-color-scheme:dark) {
  :root {
    --cw-text:#ddf;
    --cw-bg:#223;
    --cw-head:#446;
    --cw-meta:#889;
    --cw-link:#89f;
  }
}

/* Page setup -------------------------------------------------------------- */

html {
  font:11pt var(--cw-font-family);
  line-height:1.45;
  color:var(--cw-text);
  background:var(--cw-bg);
  hyphens:auto;
}

@media print {
  .noprint {
    display:none;
  }
}

/* Print settings */
@page {
  margin:0;
  size:8.5in 11in;
}

/* Layout ------------------------------------------------------------------ */

body {
  width:8.5in;
  height:11in;
  margin-inline:auto;
  padding:1rem 1rem;

  display:grid;
  row-gap:0.5rem;
  column-gap:1.5rem;
  grid-template:
    "head head" min-content
    "main side" 1fr
  / 2fr 1fr;
}

@media screen and (width < 8.5in) {
  body {
    padding:1rem;
    width:fit-content;
    height:fit-content;
    grid-template:
      "head" min-content
      "main" min-content
      "side" min-content
    / 1fr;
  }
}

header {
  grid-area:head;
  text-align:center;

  background:var(--cw-head);
  print-color-adjust:exact;
  padding:1rem;
}

div.header-text {
  background:var(--cw-bg);
  padding:0.5rem;
  border:0.2rem solid var(--cw-text);
}

ul.contact-info {
  margin:0;
}

ul.contact-info li {
  display:inline;
  margin-inline:1rem;
}

@media screen and (width < 8.5in) {
  ul.contact-info li {
    display:block;
  }
}

main {
  grid-area:main;
}

aside {
  grid-area:side;
}

/* Element styling --------------------------------------------------------- */

a {
  color:var(--cw-text);
  transition:color 0.5s;
  text-decoration:underline 1px solid var(--cw-link);
}

@media print {
  a {
    text-decoration:none;
  }
}

a:hover {
  color:var(--cw-link);
}

h1, h2, h3 {
  font-variant:small-caps;
}

h1 {
  line-height:1;
}

h3 {
  font-variant:normal;
  font-style:italic;
}

:not(h2) + section {
  margin-top:0.5rem;
}

p, #experience li {
  text-align:justify;
}

ul, ol {
  margin-left:2ch;
}

div.meta {
  color:var(--cw-meta);
  print-color-adjust:exact;
}

dt {
  display:inline;
  font-style:italic;
}

dt:not(:first-child)::before {
  /* "Half-block" has newline before but not after */
  content:'\A';
  white-space:pre;
}

dt::after {
  content:':';
}

dd {
  display:inline;
}

dd::after {
  content:',';
}

dd:has(+ dt)::after, dd:last-child::after {
  content:'.';
}

hr {
  background:var(--cw-head);
  color:var(--cw-head);
  height:0.2rem;
  border:none;
  max-width:5rem;
  margin-inline:auto;
  margin-block:0.5rem;
}

ul.strengths {
  margin:0;
}

ul.strengths li {
  display:inline;
}

ul.strengths li + li::before {
  content:' ∘ ';
}
